html {
  font-family: Overpass, sans-serif;
  background: linear-gradient(0deg, #ff5e3a 0%, #ff9500 100%) fixed;
}

h1, h2, p, i {
  color: #fff;
}

.break {
  border-bottom: solid 3px rgba(255, 255, 255, 0.6);
}

.btn {
  background-color: rgba(255, 255, 255, 0);
  border: 3px solid #fff;
  color: #fff;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 1);
  border: 3px solid #fff;
  color: #ff5e3a;
}
