html {
  font-family: Overpass, sans-serif;
}

body {
  background-image: linear-gradient(#ff9500, #ff5e3a);
}

h1, h2, p, i {
  color: #fff;
}

.break {
  border-bottom: solid 3px rgba(255, 255, 255, .6);
}

.btn {
  background-color: rgba(255, 255, 255, 0);
  border: 3px solid #fff;
  color: #fff;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 1);
  border: 3px solid #fff;
  color: #ff5e3a;
}

@media only screen and (min-width: 60em) {

  .break {
    border-bottom: 0;
    border-right: solid 3px rgba(255, 255, 255, .6);
  }

}
